{% extends 'flatpages/default.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрации</title>
</head>

<body>
    <h2>Подтверждение регистрации</h2>
    <form method="post">
        {% csrf_token %}
        <label for="confirmation_code">Введите код подтверждения:</label><br>
        <input type="text" id="confirmation_code" name="confirmation_code"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <button type="submit">Подтвердить регистрацию</button>
    </form>
</body>

{% endblock %}