<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация на сайте</title>
</head>

<body>
    <b>{{ user.username }}</b>, вы успешно зарегистрировались на <a href="http://127.0.0.1:8000/about/">сайте</a>!
    <p>Для завершения регистрации введите следующий код на <a href="http://127.0.0.1:8000/accounts/confirm_registration/">странице подтверждения:</a></p>
    <p>Код: <strong>{{ code }}</strong></p>
</body>

</html>